[run]
source = src
parallel = false
branch = false
concurrency = multiprocessing

[report]
include =
    src/**/*.py
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    if TYPE_CHECKING:
    @abstractmethod

[html]
directory = coverage_reports

[xml]
output = coverage_reports/coverage.xml

[json]
output = coverage_report.json
