tensorflow==2.6
keras==2.6
protobuf==3.20.0
numpy==1.19.5
matplotlib==3.6.3
pandas
plotly
scikit-learn
tqdm
scipy
keyboard
scienceplots
adjustText
portalocker
pytest>=7.0.0
pytest-cov
pytest-timeout
pytest-asyncio
pyyaml